* { font-family: verdana}
h1 {
  height: 20px;
  padding: 30px;
  color: beige;
  font-family: Verdana;
  text-align:center;}
.col-centered { margin-left: auto;
      margin: auto;
      width: 400px;
      text-align: center;
  }
.project {
  background-color: #d4e0c9;
}
.header {
        background-color: #5a9da6;
        padding: 10px;
}
.round {border-radius: 100%;
      height: 100px;
      width: 100px;
      border: 7px #d4e0c9 solid;
      }
.projectimg {
    max-height: 100%; 
    float: right;
    padding: 10px;
}
p {font-size: 12px;
  padding-left: 10px;
}
h3 {padding: 10px 10px 0px 10px;
}
.gallery {background-color:#d4e0c9;
			padding: 30px;
			text-align: center;}
.thumbnail {width: 60px;
			height: 200px;
			border: 4px #206e82 solid;
			margin: 5px;
			display: inline-block;
      background: #333;
      overflow: hidden;
}

/* Fancy hover effect for things */
.hover-saturate{
  opacity: 1;
  -webkit-filter: saturate(.25) brightness(1.25);
  filter: saturate(.25) brightness 1.25;
  transition: all ease-out 200ms;
}

.hover-saturate:hover{
  opacity: 1;
  filter: saturate(1) brightness(1);
  -webkit-filter: saturate(1) brightness(1);
  
}
.clearfix:after {
	content:"";
	display:table;
	clear:both;
}