* { font-family: verdana}
h1 {
  height: 20px;
  padding: 30px;
  color: beige;
  font-family: Verdana;
  text-align:center;}
.col-centered { margin-left: auto;
      margin: auto;
      width: 400px;
      text-align: center;
  }
.project {
  background-color: beige;
}
.header {
        background-color: teal;
        padding: 10px;
}
.round {border-radius: 100%;
      height: 100px;
      width: 100px;
      border: 7px beige solid;
      }
.projectimg {
    height: 300px; align: right;
}
p {font-size: 12px;
  padding: 10px
}
h3 {padding: 10px 10px 0px 10px;
}
.gallery {background-color:beige;
			padding: 30px;
			text-align: center;}
.thumbnail {width: 40px;
			height: 140px;
			border: 4px teal solid;
			margin: 5px;
			display: inline-block;
      background: #333;
      overflow: hidden;
}

/* Fancy hover effect for things */
.thumbnail .hover-fancy{
  opacity: .6;
  transition: all ease-out 200ms;
}

.thumbnail:hover .hover-fancy{
  opacity: 1;
  transform: scalex(1.05) scaley(1.05);
}
